<div class="bg-gray-100">
  <div class="container mx-auto py-8">
    <div class="grid grid-cols-4 sm:grid-cols-12 gap-6 px-4">
      <div class="col-span-4 sm:col-span-3">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="flex flex-col items-center">
            <%= image_tag current_user.avatar_url, class: 'rounded-full w-12 h-12 object-cover' %></img>
            <h1 class="text-xl font-bold"><%= current_user.decorate.full_name %></h1>
            <div class="mt-6 flex flex-wrap gap-4 justify-center">
              <%= link_to "プロフィール編集", edit_profile_path, class: "bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded" %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-span-4 sm:col-span-9">
        <div class="bg-white shadow rounded-lg p-6">
          <div class="grid sm:grid-cols-2 gap-4 my-4">
            <% if @user_boards.present? %>
              <%= render @user_boards %>
            <% else %>
              <div class="mb-3">レビューがありません</div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
