<div class='flex justify-end'>
  <% if current_user.favorite?(board) %>
    <%= render 'unfavorite', { board: board } %>
  <% else %>
    <%= render 'favorite', { board: board } %>
  <% end %>
</div>
