<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <nav class='navbar navbar-expand-lg navigation navbar-light bg-light flex items-center'> <!-- ここに追加 -->
      <%= link_to(root_path, class: 'max-w-[120px] h-auto') do %>
      <%= image_tag('logo.jpg') %>
      <% end %>
      <button class='navbar-toggler' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent'
        aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
      </button>
    </nav>
    <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center flex items-center"> <!-- ここに追加 -->
    </nav>
    <%= link_to(login_path, class: "inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0") do %>
      ログイン
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    <% end %>
  </div>
</header>
