<footer class="bg-base-color px-2 mb-20">
  <div class="flex justify-center items-center space-x-4 mb-4">
    <%= link_to("利用規約", terms_of_use_path, class: "inline-block align-middle hover:underline hover:text-gray-600 hover:decoration-gray-600") %>
    <%= link_to("プライバシーポリシー", privacy_policy_path, class: "inline-block align-middle hover:underline hover:text-gray-600 hover:decoration-gray-600") %>
    <%= link_to("お問い合わせ", "/", target: "_blank", rel: "noopener noreferrer", class: "inline-block align-middle hover:underline hover:text-gray-600 hover:decoration-gray-600") %>
  </div>
  <hr class="my-2 border-b-1 border-bg-mitsuboshi-gray w-1/2 mx-auto">
  <div class="text-xs text-center">
    © 2024 YumMeet
  </div>
</footer>
