<%= link_to favorite_path(current_user.favorites.find_by(board_id: board.id)), id: "unfavorite-button-for-board-#{board.id}", data: { turbo_method: :delete } do %>
  <div class="list-group-item list-group-item-action text-center">
	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="_x32_" x="0px" y="0px" viewBox="0 0 512 512" style="width: 32px; height: 32px; opacity: 1;" xml:space="preserve">
	  <style type="text/css">.st0{fill:#4B4B4B;}
	  </style>
	  <g>
		<path class="st0" d="M377.886,35.146c-53.546,0.984-85.225,32.654-106.448,63.85c-3.864,5.78-9.665,9.494-15.444,9.643   c-5.779-0.149-11.57-3.863-15.433-9.643C219.328,67.8,187.659,36.13,134.103,35.146C63.83,33.711,0,84.848,0,197.728   c0,111.276,95.681,190.228,154.694,230.437c38.755,26.532,87.484,45.989,87.484,45.989c4.494,1.444,11.42,2.729,13.816,2.729   c2.408,0,9.333-1.284,13.817-2.729c0,0,48.729-19.458,87.493-45.989C416.319,387.956,512,309.003,512,197.728   C512,84.848,448.159,33.711,377.886,35.146z M116.711,308.811c-7.245,5.158-17.274,3.478-22.442-3.746   c-13.133-18.388-22.882-39.236-26.778-62.3c-2.066-12.34-3.158-23.803-3.158-34.484c0-10.735,1.103-20.709,3.49-29.903   c2.248-8.583,11.045-13.731,19.628-11.494c8.594,2.248,13.742,11.045,11.494,19.628c-1.563,5.961-2.451,13.228-2.451,21.768   c0,8.498,0.867,18.216,2.718,29.132c2.955,17.478,10.371,33.714,21.245,48.964C125.616,293.613,123.936,303.652,116.711,308.811z    M138.491,116.464c-5.062,3.061-8.776,6.293-11.526,9.686c-5.609,6.881-15.733,7.919-22.636,2.311   c-6.871-5.608-7.908-15.732-2.3-22.624c5.383-6.614,12.094-12.223,19.81-16.889c7.609-4.603,17.499-2.162,22.079,5.436   C148.52,101.983,146.09,111.883,138.491,116.464z" style="fill: rgb(223, 86, 86);"/>
	  </g>
	</svg>
	<p>いいね</p>
  </div>
<% end %>
