<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col justify-center items-center">
    <div class="container">
      <div class="mx-auto max-w-md">
        <%= render 'form', board: @board %>
      </div>
    </div>
  </div>
</section>
