<section class="text-gray-600 body-font">
  <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col justify-center items-center">
    <div class="container">
      <div class="grid sm:grid-cols-3 gap-4 my-4">
        <% if @favorite_boards.present? %>
          <%= render @favorite_boards %>
        <% else %>
          <div class="mb-3">いいねがありません</div>
        <% end %>
      </div>
    </div>
  </div>
</section>
