fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating_star { 
  border: none;
  float: left;
}

.rating_star > input { display: none; } 
.rating_star > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating_star > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating_star > label { 
  color: #ddd; 
  float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating_star > input:checked ~ label, /* show gold star when clicked */
.rating_star:not(:checked) > label:hover, /* hover current star */
.rating_star:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating_star > input:checked + label:hover, /* hover current star when changing rating */
.rating_star > input:checked ~ label:hover,
.rating_star > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating_star > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.navbar-brand img {
  max-width: 120px;
  height: auto;
}
